<div class="logo-container">
<div class="logo-grid">
      <img src="https://freight.cargo.site/w/300/q/75/i/9468c68d9bd5d1e36ad50549f396e45dd677ddcbc5f841df3a680ecbcf541dad/pngimg.com---google_PNG19644.png" alt="Logo 6">
      <img src="https://freight.cargo.site/w/400/q/75/i/d7d10951c33dfb07259c4d4eb6a8765334e63fbab43279c587eaa156f99a2c33/a82198eacc74966b75098b3f047dba5b.png" alt="Logo 7">
      <img src="https://freight.cargo.site/w/200/q/75/i/1d8b86168e75b26a18571e0e41a3d34285b4db5e2b5fa50cb9db49b5127f475b/Adidas_logo.png" alt="Logo 8">
      <img src="https://freight.cargo.site/w/400/q/75/i/4fbe91e855764fb6a8e82048ed7d2f36c2fd007bc2a469f06ddc632a3d9bc082/1200px-Ledger-logo.png" alt="Logo 9">
      <img src="https://freight.cargo.site/w/500/q/75/i/ee01599214936145242afc0130b946d84bead11918b91275a0f9acc3b1375672/Studio_MTX_logo_V4_vdl6gz.png" alt="Logo 10">

      <img src="https://freight.cargo.site/w/400/q/75/i/1f7945fab0c5dc82644ab46f76fd42b9f03738c64de3c6e6ad3a6bb70c64e676/CITYPNG.COMSpotify-Black-Text-Logo-Transparent-Background---3000x3000.png" alt="Logo 11">
      <img src="https://freight.cargo.site/w/300/q/75/i/5228b72760d71d780c105416ff2f1a48072c063651174832390f7ecdc8e633fc/39872504ce23d767f866e12f9c1b361e.png" alt="Logo 12">
      <img src="https://freight.cargo.site/w/400/q/75/i/39914ee7a5e7b3108628701918195a23349f95c4f2dd5c68057838baf9b9d1fe/pngwing.com-1.png" alt="Logo 13">
      <img src="https://freight.cargo.site/w/500/q/75/i/2ce12c3446000351178296b5d6b11816e416ae81f25b761993783dc46801aca3/AUROBOROS_LOGO_1.png" alt="Logo 14">
      <img src="https://freight.cargo.site/w/400/q/75/i/07c1401035b84b25e2bea0a09923cea78769fb7c83f64e7443c9a935453c8f43/PV_PARIS_Noir-scaled.jpg.png" alt="Logo 15">

      <img src="https://freight.cargo.site/w/300/q/75/i/27532944067d2f3310b2bec9ec9509c300f9b6552eec0261d47d5fdedb110f18/Desigual-Logo.png" alt="Logo 11">
      <img src="https://freight.cargo.site/w/500/q/75/i/cace1917f10e2502c549a63a8ebb5114c44351b3aca6783e108238918677dca2/MAITREPIERRE___Designer_Fashion_for_Women___Shyness_Space.png" alt="Logo 12">
      <img src="https://freight.cargo.site/w/500/q/75/i/c01c6b2b1e79851abfda1da2bda724a3bb268f39dbfa3901d0685306cfb05d96/pngegg.png" alt="Logo 13">
      <img src="https://freight.cargo.site/w/300/q/75/i/b6db32902dbe5e11d7572d6b0f8e9dc7e3396496d03692360b0f71cafd819d6b/pngwing.com-2.png" alt="Logo 14">
      <img src="https://freight.cargo.site/w/400/q/75/i/27c697a3feb3be113e5225fa19b93a11557c0cad5e96b7033da40c35a80cd730/Num3Fro_logo.png" alt="Logo 15">
    </div>
    </div>
