<% is_home = current_page?(root_path) %>

<div class="navbar <%= is_home ? 'navbar-transparent' : 'navbar-black' %>">
  <div class="navbar-brand">
    <a href="/">adem elahel</a>
  </div>
  <div class="navbar-links">
    <a href="/work">Work</a>
    <a href="/rnd_motion">R&D Motion</a>
    <a href="/rnd_stills">R&D Stills</a>
    <a href="/news">News</a>
    <a href="/resume">Resume</a>
  </div>
</div>
