<div class="video-background">
  <video muted autoplay loop playsinline>
  <source src="<%= asset_path('banniere.mp4') %>" type="video/mp4">
</video>

<div id="container">
<%= render 'navbar' %>
  <div id="main-grid">
    <div id="top-left"></div>
    <div id="top-right"></div>
    <div id="bottom-left"><h1>CGI SERVICES</h1></div>
    <div id="bottom-right">
      <div class="baseline-text">

      <p>Adem Elahel is a CGI artist based in Bruxelles, specializing in creating visually stunning digital environments and immersive experiences.</p>
      </div>
      <div class="contact-button-container">
      <button class="contact-button">Work Together</button>
      <p>Represented by <a href="https://baa-global.com/" target="_blank"><strong>BAA Global</strong></a></p>
      </div>
    </div>
  </div>

<div class="arrow">
<a href="#work-carrousel" class="scroll-down" aria-label="Scroll down">
  <i class="fa-solid fa-chevron-down" style="color: #ffffff; font-size: 2em;"></i>
</a>
</div>
</div>
</div>

<div id="work-carrousel">
  <div class="arrow-right">

  </div>
 <h2 id="featured-project" >Featured project</h2>

    <div class="content-carousel">
      <div class="content-row">
        <div class="work">
         <img class="content-card" src="https://red-eye.world/media/pages/c/why-keep-a-human-shape-when-you-can-be-anything-reimagining-the-present-with-3d-artist-adem-elahel/7ef27a205b-1695022568/a-1.webp">
         <div class="content-infos">
         <h5>Adidas</h5>
         <h5 id="year">2025</h5>
         </div>
         </div>
         <div class="work">
         <img class="content-card" src="https://red-eye.world/media/pages/c/why-keep-a-human-shape-when-you-can-be-anything-reimagining-the-present-with-3d-artist-adem-elahel/7ef27a205b-1695022568/a-1.webp">
          <div class="content-infos">
         <h5>Adidas</h5>
         <h5 id="year">2025</h5>
         </div>
         </div>
         <div class="work">
         <img class="content-card" src="https://red-eye.world/media/pages/c/why-keep-a-human-shape-when-you-can-be-anything-reimagining-the-present-with-3d-artist-adem-elahel/7ef27a205b-1695022568/a-1.webp">
          <div class="content-infos">
         <h5>Adidas</h5>
         <h5 id="year">2025</h5>
         </div>
         </div>
         <div class="work">
         <img class="content-card" src="https://red-eye.world/media/pages/c/why-keep-a-human-shape-when-you-can-be-anything-reimagining-the-present-with-3d-artist-adem-elahel/7ef27a205b-1695022568/a-1.webp">
          <div class="content-infos">
         <h5>Adidas</h5>
         <h5 id="year">2025</h5>
         </div>
         </div>



      </div>
    </div>
</div>

<%= render 'logo-grid' %>

</body>
</html>
