<%= render 'navbar' %>

<section class="grid-section">
    <h2>Thanks to</h2>
    <div class="logo-grid">
      <img src="https://freight.cargo.site/w/400/q/75/i/d7d10951c33dfb07259c4d4eb6a8765334e63fbab43279c587eaa156f99a2c33/a82198eacc74966b75098b3f047dba5b.png" alt="Logo 1">
      <img src="https://freight.cargo.site/w/400/q/75/i/d7d10951c33dfb07259c4d4eb6a8765334e63fbab43279c587eaa156f99a2c33/a82198eacc74966b75098b3f047dba5b.png" alt="Logo 2">
      <img src="https://freight.cargo.site/w/400/q/75/i/d7d10951c33dfb07259c4d4eb6a8765334e63fbab43279c587eaa156f99a2c33/a82198eacc74966b75098b3f047dba5b.png" alt="Logo 3">
      <img src="https://freight.cargo.site/w/400/q/75/i/d7d10951c33dfb07259c4d4eb6a8765334e63fbab43279c587eaa156f99a2c33/a82198eacc74966b75098b3f047dba5b.png" alt="Logo 4">
      <img src="https://freight.cargo.site/w/400/q/75/i/d7d10951c33dfb07259c4d4eb6a8765334e63fbab43279c587eaa156f99a2c33/a82198eacc74966b75098b3f047dba5b.png" alt="Logo 5">
    </div>

    <h2>Projects</h2>
    <div class="logo-grid">
      <img src="https://freight.cargo.site/w/400/q/75/i/d7d10951c33dfb07259c4d4eb6a8765334e63fbab43279c587eaa156f99a2c33/a82198eacc74966b75098b3f047dba5b.png" alt="Logo 6">
      <img src="https://freight.cargo.site/w/400/q/75/i/d7d10951c33dfb07259c4d4eb6a8765334e63fbab43279c587eaa156f99a2c33/a82198eacc74966b75098b3f047dba5b.png" alt="Logo 7">
      <img src="https://freight.cargo.site/w/400/q/75/i/d7d10951c33dfb07259c4d4eb6a8765334e63fbab43279c587eaa156f99a2c33/a82198eacc74966b75098b3f047dba5b.png" alt="Logo 8">
      <img src="https://freight.cargo.site/w/400/q/75/i/d7d10951c33dfb07259c4d4eb6a8765334e63fbab43279c587eaa156f99a2c33/a82198eacc74966b75098b3f047dba5b.png" alt="Logo 9">
      <img src="https://freight.cargo.site/w/400/q/75/i/d7d10951c33dfb07259c4d4eb6a8765334e63fbab43279c587eaa156f99a2c33/a82198eacc74966b75098b3f047dba5b.png" alt="Logo 10">
      <img src="https://freight.cargo.site/w/400/q/75/i/d7d10951c33dfb07259c4d4eb6a8765334e63fbab43279c587eaa156f99a2c33/a82198eacc74966b75098b3f047dba5b.png" alt="Logo 11">
      <img src="https://freight.cargo.site/w/400/q/75/i/d7d10951c33dfb07259c4d4eb6a8765334e63fbab43279c587eaa156f99a2c33/a82198eacc74966b75098b3f047dba5b.png" alt="Logo 12">
      <img src="https://freight.cargo.site/w/400/q/75/i/d7d10951c33dfb07259c4d4eb6a8765334e63fbab43279c587eaa156f99a2c33/a82198eacc74966b75098b3f047dba5b.png" alt="Logo 13">
      <img src="https://freight.cargo.site/w/400/q/75/i/d7d10951c33dfb07259c4d4eb6a8765334e63fbab43279c587eaa156f99a2c33/a82198eacc74966b75098b3f047dba5b.png" alt="Logo 14">
      <img src="https://freight.cargo.site/w/400/q/75/i/d7d10951c33dfb07259c4d4eb6a8765334e63fbab43279c587eaa156f99a2c33/a82198eacc74966b75098b3f047dba5b.png" alt="Logo 15">
    </div>
  </section>
